.ConfirmOuter{
    z-index: 999;
}
.Confirm{
    width: 600rem;
    height: 300rem;
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 40rem;
    display: flex;
    flex-flow:column;
    justify-content: space-evenly;
    align-items: center;

}
.ConfirmText{
    font-size: 34rem;
}
.Ok, .Cancel{
    background-color: orange;
    border: 1rem solid #ccc;
    border-radius: 40rem;
    width: 160rem;
    height: 60rem;
    font-size: 28rem;
}
.Ok{
    margin-left: 50rem;
}