.Counter{
    display: flex;
    align-items: center;
}
.Sub,
.Add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 36rem;
    border: none;
    background-color: orange;
    border-radius: 50%;
    font-size: 26rem;

}
.Sub{
    background-color: white;
    border: 1px solid black;
}
.Count{
    margin: 0 10rem;
    height: 36rem;
    font-size: 30rem;
}